@model UserOwnsData.Services.EmbeddedReportViewModel;

<style>
  .mb-3, .my-3 { margin-bottom: 0 !important; }
</style>


<div id="embed-container" style="height:800px;"></div>


@section Scripts {

  <script src="~/lib/powerbi-client/powerbi.js"></script>

  <script>

    $(function () {

    // get DOM object div for report container
      var reportContainer = document.getElementById("embed-container");

    var reportId = "@Model.Id";
    var embedUrl = "@Model.EmbedUrl";
    var token = "@Model.Token";

    var models = window['powerbi-client'].models;

    var config = {
      type: 'report',
      id: reportId,
      embedUrl: embedUrl,
      accessToken: token,
      permissions: models.Permissions.All,
      tokenType: models.TokenType.Aad,
      viewMode: models.ViewMode.View,
      settings: {
        panes: {
          filters: { expanded: false, visible: true },
          pageNavigation: { visible: false }
        }
      }
    };

    // Embed the report and display it within the div container.
    var report = powerbi.embed(reportContainer, config);


      var heightBuffer = 12;
      var newHeight = $(window).height() - ($("header").height() + heightBuffer);
      $("#embed-container").height(newHeight);
      $(window).resize(function () {
        var newHeight = $(window).height() - ($("header").height() + heightBuffer);
        $("#embed-container").height(newHeight);
      });

  });

  </script>
}