@model UOD1.Services.EmbeddedReportViewModel;

<style>
  .mb-3, .my-3 {
    margin-bottom: 0 !important;
  }
</style>


<div id="embed-container" style="height:800px;"></div>


@section Scripts {

  <script src="~/lib/powerbi-client/powerbi.js"></script>
  <script src="~/js/report.js"></script>

  <script>

    $(function () {

      // get DOM object div for report container
      var reportContainer = document.getElementById("embed-container");

      var reportId = "@Model.Id";
      var embedUrl = "@Model.EmbedUrl";
      var token = "@Model.Token";

      EmbedReport(reportContainer, reportId, embedUrl, token);

      console.log("back from EmbedReport");

      var heightBuffer = 12;
      var newHeight = $(window).height() - ($("header").height() + heightBuffer);
      $("#embed-container").height(newHeight);
      $(window).resize(function () {
        var newHeight = $(window).height() - ($("header").height() + heightBuffer);
        $("#embed-container").height(newHeight);
      });

    });

  </script>